*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

.container{
    max-width: 1024px;
    margin: 0 auto;


    padding: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
}

/* Header */

.page-header{
    background-color: #ff6900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 200px;
    border-bottom: 2px solid black;
    flex-shrink: 0;
}

.navbar{
    font-weight: bold;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.boolean-logo{
    height: 35px;
    display: block;

}

.logo-wrapper{
    flex-shrink: 0;
}

.header-right-link{
    background-color: #ff6900;
    height: 20px;
    display: flex;
    gap: 10px;
}


/* Main */

.headline{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0 0 0;
}

.subtitle{
    font-weight: bold;
    font-size: 16px;
}


/* tabella */

.col-33{
    width: calc(100% / 4);
    border: 1px solid hsl(0, 0%, 90%);
    margin: 2px;
    flex-shrink: 0;
    justify-content: center;
}

.col-33 > p{
    line-height: 15px;
    padding-left: 12px;
}

.brand-name{
    font-size: 15px;
}

.subject{
    font-size: 15px;
    font-weight: bold;
    line-height: 4px;
    color: black;
}

.new-price{
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 12px;
}

.old-price{
    color: initial;
    font-weight: initial;
    text-decoration: line-through;
    padding-bottom: 10px;
    font-size: 12px;
}

.brand-name{
    padding-top: 5px;
}

/* footer */

/* .page-footer{
    background-color: black;
    padding: 10px 300px 10px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-navbar{
    font-size: 12px;
} */