*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

.container{
    max-width: 1024px;
    margin: 0 auto;


    padding: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

img{
    max-width: 100%;
}

/* Header */

.navbar{
    font-weight: bold;
    color: white;
    display: flex;
    gap: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.page-header{
    background-color: #ff6900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.boolean-logo{
    height: 35px;
    display: block;

}

.logo-wrapper{
    flex-shrink: 0;
}

.header-right-link{
    background-color: #ff6900;
    height: 20px;
    display: flex;
    gap: 10px;
}

.heart{
    display: flex;
    font-size: 35px;
}

/* Main */

.col-33{
    width: calc(100% / 4);
    border: 1px solid hsl(0, 0%, 90%);
    margin: 8px;
}

.col-33 > p{
    line-height: 15px;
    padding-left: 12px;
}

.brand-name{
    font-size: 15px;
}

.subject{
    font-size: 15px;
    font-weight: bold;
    line-height: 4px;
    color: black;
}

.new-price{
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 12px;
}

.old-price{
    color: initial;
    font-weight: initial;
    text-decoration: line-through;
    padding-bottom: 10px;
    font-size: 12px;
}

.brand-name{
    padding-top: 5px;
}